<%= render 'books/list', books: @books %>

  <div class="col-md-8 offset-md-1">
    <h2>Book detail</h2>
    <table class="table">
      <tbody>
        <tr>
          <% @books.each do |book| %>
          <%= image_tag @user.get_profile_image(100,100) %></td>
          <td><%= link_to book.title, book_path(book) %></td>
          <td><%= book.body %></td>
          <% end %>

          <% if @book.user == current_user %>
          <td><%= link_to "Destroy", books_path, method: :delete, class: "btn btn-red" %></td>
          <% end %>
        </tr>
      </tbody>
    </table>
  </div>